<div class="blog-categories">
    <div class="page-header">
        <h1>All Gallery</h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div id="grid1" ui-grid="gridOptions" class="grid"></div>
</div>
