<div class="blog-add-new-category">
    <div class="page-header">
        <h1>{{title}}<button type="button" class="btn btn-primary pull-right" ng-click="CreateImggallery()">
            {{action}}
        </button></h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <h4>Title</h4>
    <input type="text"  ng-model="imggallery.name" placeholder="Gallery Name Title"  class="form-control">
    <!--todo: category slug should be modified later-->

    <h4>Sort</h4>
    <input type="number"  ng-model="imggallery.sort" placeholder="0"  class="form-control">


    <h4>Image</h4>
    <!--<input class="form-control" ng-model="blog.post_image" />-->
    <div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
    <!--<div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>-->
    <img class="post-image" ng-src="{{image_path}}">

</div>
