<div class="blog-add-new-category">
    <div class="page-header">
        <h1>{{title}}<button type="button" class="btn btn-primary pull-right" ng-click="UpdateNews()">
            {{action}}
        </button></h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <h4>Title</h4>
    <input type="text" ng-change="MakeZeSlug()" ng-model="news.title" placeholder="News Title"  class="form-control">
    <!--todo: category slug should be modified later-->
    <pre>News slug: {{news.slug}}</pre>

    <h4>News Description</h4>
    <textarea class="form-control" ng-model="news.description" rows="3"></textarea>

    <h4>Event Date</h4>
    <input type="text"  ng-model="news.newsdate" placeholder="News Date"  class="form-control">

</div>

