<div class="blog-add-new-category">
    <div class="page-header">
        <h1>{{title}}<button type="button" class="btn btn-primary pull-right" ng-click="saveEvent()">
            {{action}}
        </button></h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <h4>Event Name</h4>
    <input type="text" ng-change="makeNameSlug()" ng-model="event.name" placeholder="Event Name"  class="form-control">
    <!--todo: category slug should be modified later-->
    <pre>Event slug: {{event.slug}}</pre>

    <h4>Event Description</h4>
    <textarea class="form-control" ng-model="event.details" rows="3"></textarea>

    <h4>Event Date</h4>
    <div class="control-group">

        <p class="input-group">
       <input type="text" placeholder="Event date" name="evtdate" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="1960-01-01" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
</p>
        </div>


    <h4>Image</h4>
    <!--<input class="form-control" ng-model="blog.post_image" />-->
    <div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
    <!--<div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>-->
    <img class="post-image" ng-src="{{image_path}}">


</div>

