<div class="blog-add-new-post">
  <div class="page-header">
    
  </div>
  <h4>Sms Text</h4>
  <textarea class="form-control" ng-model="sms.text" rows="3" placeholder="Write Your message"></textarea>
  <h4>Mobile No</h4>
  <textarea class="form-control" ng-model="sms.mobile" rows="3" placeholder="Enter Mobile number"></textarea>
  <h1><button type="button" class="btn btn-primary text-center" ng-click="SendSms(sms)">Send</button></h1>

</div>
