<header class="admin-header">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="admin">Lakehead Admin Panel</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="auth.isAuthenticated()"><a ui-sref-active="active" ui-sref="home"><i class="fa fa-camera-retro"></i> Dashboard </a></li>
            <li ng-hide="auth.isAuthenticated()"><a ui-sref="anon.login">Login</a></li>
            <li ng-hide="auth.isAuthenticated()"><a ui-sref="anon.register">Register</a></li>
            <li ng-show="auth.isAuthenticated()"><p class="navbar-text">Hello, <strong>{{user().email}}</strong></p></li>
            <li ng-show="auth.isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</header>
<div class="main-body-container">
  <div class="row">
    <aside class="col-md-3 sidebar-nav">
      <accordion close-others="oneAtATime">
        <accordion-group heading="Blog" is-open="true" >
          <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.new_event">New Event</a> </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.events">Events</a> </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.new_news">New News</a> </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.news">News</a> </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.new_page">New Page</a> </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.pages">Page</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.new_imggallery">New Gallery</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.imggallery">Gallery</a></li>

            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.new_galimage">New Image</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.galimages">Image</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>  <a ui-sref="home.sendsms">Send Sms</a></li>



          </ul>
        </accordion-group>

      </accordion>

    </aside>
    <div class="col-md-9 mainbody" style="margin-top:70px;">
      <div ui-view><div class="admin-dashboard">
        User Dashboard</div> </div>
    </div>
  </div>
</div>
<footer class="admin-footer">
  <div class="row">
      <div class="col-md-12">Powerd by Zeteq System 2015</div>
  </div>
</footer>
