<div class="blog-posts">
  <div class="page-header">
    <h1>All Image</h1>
  </div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

  <div id="grid1" ui-grid="gridOptions" class="grid"></div>


</div>
